html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: Barlow, ui-sans-serif, system-ui;
    /* 4 */
}

.font-body {
    font-family: Barlow;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "grad" 0, "opzs" 48;
}

#menu .menu-content ul li.selected a {
    color: hsla(201, 96%, 26%);
    font-weight: bold;
    font-size: 1.5rem;
}

.bg-accent {
    --tw-bg-opacity: 1;
    background-color: hsl(201 96% 32% / var(--tw-bg-opacity));
}

.border-accent {
    --tw-border-opacity: 1;
    border-color: hsl(201 96% 32% / var(--tw-border-opacity));
}

#menu .menu-content .extra-links a.extra-selected {
    font-weight: 600;
    color: var(--dark);
}