.count-text {
   display: flex;
   flex-direction: column;
   min-width: 200px;
   margin: 0rem 2rem;
   padding: 1rem;
   align-items: center;
   text-align: center;
   font-size: 50px;
   font-weight: 600;
   height: 167px;
}

.count-text1 {
   margin-top: 0.7rem;
   align-items: center;
   text-align: center;
   font-size: 50px;
   font-weight: 600;
}

.container1 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.mt-3 {
   margin-top: 2rem;
}

.instcount {
   /* border: 2px solid rgb(163, 160, 160); */
   margin: 0rem 1rem 0rem 0rem;
   padding: 0.8rem;
   color: white;
   /* background-color: black; */
   background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./components/Img/bgplace.png');
   height: 100%;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.instcount2 {
   margin: 0rem 1rem 0rem 0rem;
   padding: 0.8rem;
   color: white;
   /* background-color: black; */
   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./components/Img/homepage.jpg');
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.instcount1 {
   border: 2px solid rgb(163, 160, 160);
   margin: 0.2rem;
   padding: 0.8rem;
   color: white;
   /* background-color: black; */
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./components/Img/bgcamp.png');
   height: calc(100vh-6rem);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.imgheight {
   border: 2px solid rgb(163, 160, 160);
   margin: 0rem;
   padding: 0rem;
   color: white;
   /* background-color: black; */
   /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),; */
   /* height: 56.23%; */
   /* width: 100%; */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.ptext {
   font-size: 1.3rem;
   margin: 0.5rem 0rem;
}

.ctext {
   font-size: 1.7rem;
}

@media screen and (width < 1200px) and (width > 991px) {
   .ptext {
      font-size: 1.2rem;
      margin: 0.5rem 0rem;
   }

   .ctext {
      font-size: 1.4rem;
   }

   .count-text {
      font-weight: 400;
   }

   .count-text1 {
      font-weight: 400;
   }
}

@media screen and (width > 647px) and (width < 992px) {
   .container1 {
      display: block;
   }

   .r2c2 {
      display: flex;
      align-items: center
   }

   .ptext {
      font-size: 1.5rem;
      margin: 0.5rem 0rem;
   }

   .ctext {
      font-size: 1.7rem;
   }

   .count-text {
      font-weight: 480;
   }

}

@media screen and (width < 648px) {
   .container1 {
      display: flex;
      flex-direction: column;
   }

   .r2c2 {
      display: flex;
      align-items: center
   }

   .ptext {
      font-size: 1.5rem;
      margin: 0.5rem 0rem;
   }

   .ctext {
      font-size: 1.5rem;
   }

   .count-text {
      font-weight: 480;
   }

   .count-text1 {
      font-weight: 480;
   }
}

.dwh {
   height: 166px;
   width: 94%
}

.flex1 {
   display: flex;
}

.disbool1 {
   display: none;
}

@media screen and (width<780px) and (width>619px) {

   .disbool1 {
      display: flex;
   }

   .disbool {
      display: none;
   }
}

@media screen and (width<620px) {
   .flex1 {
      flex-direction: column;
      align-items: center;
   }

   .disbool1 {
      display: flex;
   }

   .disbool {
      display: none;
   }

   .mx {
      margin: 1rem 0rem;
      padding: 0rem;
      text-align: center;
   }
}

.card-title {
   align-items: center;
   display: flex;
   text-align: center;
   justify-content: center;
   font-size: 1rem;
   font-weight: 500;
   height: 100%;
   width: 100%;
   color: white;
   margin: 0rem;
   padding: 0rem;
   background-color: rgb(0, 0, 0);
}

.card-title:hover {
   align-items: center;
   display: flex;
   text-align: center;
   justify-content: center;
   font-size: 1rem;
   font-weight: 500;
   height: 100%;
   width: 100%;
   color: white;
   margin: 0rem;
   padding: 0rem;
   background-color: rgb(44, 2, 75);
}

.vedio {
   position: absolute;
   height: 100%;
   width: 100%;
   right: 0;
   bottom: 0;
   opacity: 30% !important;
}

@media screen and (width < 475px) {
   .navsize{
      height:12rem;
   }
   .navimg{
      height:21rem;
   }
   .logocon{
      flex-direction:column;
   }
   .xsw-full{
      width:100%;
   }
}
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

.bgallplace{
   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./components/Img/homepage.jpg') no-repeat;
   width: 100%;
   height: 100%;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
}
@media (min-width:640px) {
   .bgallplace{
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./components/Img/homepage.jpg') no-repeat;
      width: 100%;
      height: calc(100%);
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
   }
}
.bg-all{
   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://upload.wikimedia.org/wikipedia/commons/5/55/IT_Building%2C_NIT_Jalandhar_05.JPG") no-repeat;
   width: 100%;
   height: calc(100vh + 4rem);
   /* background-attachment: fixed; */
   background-position: center center;
   background-size: cover;
}
.bg-linear{
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.card{
  width: 285px;
  margin:30px auto;
  border:2px solid rgb(56, 69, 122);
  box-shadow: 0 0 100px rgb(252, 253, 255);
}
@media (min-width: 1280px) {
   .colplace {
       grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}
@media (min-width: 1650px) {
   .colplace {
       grid-template-columns: repeat(4, minmax(0, 1fr));
   }
}
@media (min-width: 1950px) {
   .colplace {
       grid-template-columns: repeat(5, minmax(0, 1fr));
   }
}
.indicator li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.indicator li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
/* homepage divide into grid */
.item1 {
  grid-area: myArea;
}

.grid-container {
  display: grid;
  grid-template-areas: 'myArea';
  grid-template-columns: 2fr 6fr;
  grid-gap: 10px;
  padding: 10px;
}
